In [20]:
import pandas as pd

In [65]:
urls=[
    "https://fbref.com/en/comps/Big5/2006-2007/stats/players/2006-2007-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2007-2008/stats/players/2007-2008-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2008-2009/stats/players/2008-2009-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2009-2010/stats/players/2009-2010-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2010-2011/stats/players/2010-2011-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2011-2012/stats/players/2011-2012-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2012-2013/stats/players/2012-2013-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2013-2014/stats/players/2013-2014-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2014-2015/stats/players/2014-2015-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2015-2016/stats/players/2015-2016-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2016-2017/stats/players/2016-2017-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2017-2018/stats/players/2017-2018-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2018-2019/stats/players/2018-2019-Big-5-European-Leagues-Stats",
    "https://fbref.com/en/comps/Big5/2019-2020/stats/players/2019-2020-Big-5-European-Leagues-Stats"
]

In [66]:
def get_data(url,name):
  import requests
  from bs4 import BeautifulSoup
  import csv
  response = requests.get(url)
  soup = BeautifulSoup(response.content, "html.parser")
  table = soup.find("table", {"id": "stats_standard"})
  rows = table.findAll("tr")
  player_data = []
  for row in rows:
      cells = row.findAll("td")
      if len(cells) > 0:
          player_name = cells[0].text.strip()
          player_stats = [cell.text.strip() for cell in cells[1:]]
          player_data.append([player_name] + player_stats)
  with open(str(name)+".csv", "w", newline="") as f:
      writer = csv.writer(f)
      if int(name)>2016:
        writer.writerow(["Player","Nation","Pos","Squad","Comp","Age","Born","MP","Starts","Min","90s","Gls","Ast","G+A","G-PK","PK","PKatt","CrdY","CrdR","xG","npxG","xAG","npxG+xAG","PrgC","PrgP","PrgR","Gls90","Ast90","G+A90","G-PK90","G+A-PK90","xG90","xAG90","xG+xAG90","npxG90","npxG+xAG90","Matches"])
      else:									
        writer.writerow(["Player","Nation","Pos", "Squad","Comp","Age","Born","MP", "Starts", "Min","90s","Gls", "Ast","G+A","G-PK","PK", "PKatt", "CrdY", "CrdR", "Gls90", "Ast90", "G+A90", "G-PK90", "G+A-PK90","Matches"])
      writer.writerows(player_data)

In [68]:
for index,url in enumerate(urls):
  get_data(url,int(2006+index))

In [69]:
df_2006_07=pd.read_csv('2006.csv')
df_2007_08=pd.read_csv('2007.csv')
df_2008_09=pd.read_csv('2008.csv')
df_2009_10=pd.read_csv('2009.csv')
df_2010_11=pd.read_csv('2010.csv')
df_2011_12=pd.read_csv('2011.csv')
df_2012_13=pd.read_csv('2012.csv')
df_2013_14=pd.read_csv('2013.csv')
df_2014_15=pd.read_csv('2014.csv')
df_2015_16=pd.read_csv('2015.csv')
df_2016_17=pd.read_csv('2016.csv')
df_2017_18=pd.read_csv('2017.csv')
df_2018_19=pd.read_csv('2018.csv')
df_2019_20=pd.read_csv('2019.csv')

In [70]:
frames=[df_2006_07,df_2007_08,df_2008_09,df_2009_10,df_2010_11,df_2011_12,df_2012_13,df_2013_14,df_2014_15,df_2015_16,df_2016_17,df_2017_18,df_2018_19,df_2019_20]

In [71]:
df_concated=pd.concat(frames)

In [72]:
df_concated

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,xAG,npxG+xAG,PrgC,PrgP,PrgR,xG90,xAG90,xG+xAG90,npxG90,npxG+xAG90
0,Dani Abalo,es ESP,"FW,MF",Celta Vigo,es La Liga,18.0,1987.0,1,0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jacques Abardonado,fr FRA,DF,Nice,fr Ligue 1,28.0,1978.0,30,28,"2,492",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Christian Abbiati,it ITA,GK,Torino,it Serie A,29.0,1977.0,36,36,"3,235",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Pato Abbondanzieri,ar ARG,GK,Getafe,es La Liga,33.0,1972.0,36,36,"3,215",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Elvis Abbruscato,it ITA,FW,Torino,it Serie A,25.0,1981.0,29,15,"1,432",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2727,Bongani Zungu,za RSA,MF,Amiens,fr Ligue 1,26.0,1992.0,21,10,992,...,0.3,0.6,6.0,47.0,4.0,0.03,0.03,0.05,0.03,0.05
2728,Szymon Żurkowski,pl POL,MF,Fiorentina,it Serie A,21.0,1997.0,2,0,12,...,0.0,0.1,0.0,0.0,1.0,0.52,0.00,0.52,0.52,0.52
2729,David Zurutuza,es ESP,MF,Real Sociedad,es La Liga,33.0,1986.0,5,2,157,...,0.0,0.0,2.0,4.0,6.0,0.00,0.00,0.00,0.00,0.00
2730,Martin Ødegaard,no NOR,MF,Real Sociedad,es La Liga,20.0,1998.0,31,29,"2,527",...,6.5,9.5,112.0,219.0,121.0,0.11,0.23,0.34,0.11,0.34
2731,Filip Đuričić,rs SRB,"MF,FW",Sassuolo,it Serie A,27.0,1992.0,29,19,"1,633",...,4.1,7.1,67.0,76.0,99.0,0.16,0.23,0.39,0.16,0.39

In [73]:
df_concated=df_concated.drop(["xG","npxG","xAG","npxG+xAG","PrgC","PrgP","PrgR","xG90","xAG90","xG+xAG90","npxG90","npxG+xAG90"], axis=1)

In [74]:
df_concated=df_concated.drop(['Pos','Squad','Comp','Age','Matches'],axis=1)

In [75]:
len(df_concated.columns)
df_concated.Min = df_concated.Min.apply(lambda x : x.replace(',',''))
df_concated.Min = df_concated['Min'].astype('int')

In [76]:
df_grouped=df_concated.groupby(['Player','Nation','Born']).agg({'MP': 'sum', 'Starts': 'sum', 'Min': 'sum', 'Gls': 'sum', 'Ast': 'sum', 'G+A': 'sum', 'G-PK': 'sum', 'PK': 'sum', 'PKatt': 'sum', 'CrdY': 'sum', 'CrdR': 'sum', 'Gls90': 'mean', 'Ast90': 'mean', 'G+A90': 'mean', 'G-PK90': 'mean', 'G+A-PK90': 'mean'})

In [77]:
df_grouped

,,,MP,Starts,Min,Gls,Ast,G+A,G-PK,PK,PKatt,CrdY,CrdR,Gls90,Ast90,G+A90,G-PK90,G+A-PK90
Player,Nation,Born,,,,,,,,,,,,,,,,
Aaron Connolly,ie IRL,2000.0,24,14,1258,3,1.0,4.0,3.0,0.0,0.0,0,0,0.210000,0.070000,0.290000,0.210000,0.290000
Aaron Cresswell,eng ENG,1989.0,188,183,16235,8,14.0,22.0,8.0,0.0,0.0,24,2,0.038333,0.076667,0.115000,0.038333,0.115000
Aaron Doran,ie IRL,1991.0,3,0,119,0,0.0,0.0,0.0,0.0,0.0,1,0,0.000000,0.000000,0.000000,0.000000,0.000000
Aaron Hughes,nir NIR,1979.0,215,206,18540,1,0.0,1.0,1.0,0.0,0.0,5,0,0.003750,0.000000,0.003750,0.003750,0.003750
Aaron Hunt,de GER,1986.0,286,222,19981,55,37.0,92.0,44.0,11.0,14.0,32,1,0.226923,0.151538,0.377692,0.192308,0.341538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Žan Celar,si SVN,1999.0,1,0,5,0,0.0,0.0,0.0,0.0,0.0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000
Žan Majer,si SVN,1992.0,27,19,1664,1,1.0,2.0,1.0,0.0,0.0,7,0,0.050000,0.050000,0.110000,0.050000,0.110000
Željko Brkić,rs SRB,1986.0,86,85,7584,0,0.0,0.0,0.0,0.0,0.0,2,1,0.000000,0.000000,0.000000,0.000000,0.000000
Ștefan Popescu,ro ROU,1993.0,6,2,194,0,0.0,0.0,0.0,0.0,0.0,1,0,0.000000,0.000000,0.000000,0.000000,0.000000
Ștefan Radu,ro ROU,1986.0,307,304,26048,5,7.0,12.0,5.0,0.0,0.0,83,4,0.015385,0.025385,0.040769,0.015385,0.040769

In [116]:
df_grouped.sort_values(by='Min', ascending=False)

,,,MP,Starts,Min,Gls,Ast,G+A,G-PK,PK,PKatt,CrdY,CrdR,Gls90,Ast90,G+A90,G-PK90,G+A-PK90
Player,Nation,Born,,,,,,,,,,,,,,,,
Hugo Lloris,fr FRA,1986.0,473,473,42235,0,0.0,0.0,0.0,0.0,0.0,7,1,0.000000,0.000,0.000000,0.000000,0.000000
Samir Handanović,si SVN,1984.0,471,471,42175,0,0.0,0.0,0.0,0.0,0.0,34,1,0.000000,0.000,0.000000,0.000000,0.000000
Cristiano Ronaldo,pt POR,1985.0,457,440,38971,429,116.0,545.0,340.0,89.0,104.0,54,6,0.983571,0.265,1.247857,0.781429,1.047143
Steve Mandanda,fr FRA,1985.0,432,432,38500,0,0.0,0.0,0.0,0.0,0.0,16,2,0.000000,0.000,0.000000,0.000000,0.000000
Stéphane Ruffier,fr FRA,1986.0,428,427,38349,0,0.0,0.0,0.0,0.0,0.0,20,1,0.000000,0.000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Torben Müsel,de GER,1999.0,1,0,1,0,0.0,0.0,0.0,0.0,0.0,0,0,0.000000,0.000,0.000000,0.000000,0.000000
Massimiliano Ammendola,it ITA,1990.0,1,0,1,0,0.0,0.0,0.0,0.0,0.0,0,0,0.000000,0.000,0.000000,0.000000,0.000000
Dolly Menga,ao ANG,1993.0,1,0,1,0,0.0,0.0,0.0,0.0,0.0,0,0,0.000000,0.000,0.000000,0.000000,0.000000
Dion Ruffo Luci,it ITA,2001.0,1,0,1,0,0.0,0.0,0.0,0.0,0.0,0,0,0.000000,0.000,0.000000,0.000000,0.000000
André Fomitschow,de GER,1990.0,1,0,1,0,0.0,0.0,0.0,0.0,0.0,0,0,0.000000,0.000,0.000000,0.000000,0.000000

In [81]:
df_grouped.isnull().values.any()

True